@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Roboto, sans-serif;
}

.line-through {
  text-decoration-line: line-through;
}

.heading {
  text-align: center;
  font-weight: 600;
  font-size: 3rem /* 48px */;
  line-height: 1;
  color: rgb(156 163 175);
  background-color: #efc8b150;
}
